@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var infos = (List<string>)TempData["outlookInfo"];
    foreach (var info in infos)
    {
        <p>@info</p>
    }
}

